# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
.env/
.venv/

# Environment variables file
*.env

# macOS files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/

# PyInstaller files
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage results
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
test-results.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MyPy and Pyre type checker
.mypy_cache/
.dmypy.json
.pyre/

# Flask specific
instance/
instance/*.db
instance/*.sqlite3
